<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Parking System SOAP API</display-name>
    <servlet>
        <servlet-name>PlaceSensorMockService</servlet-name>
        <!--suppress WebProperties -->
        <servlet-class>pl.edu.agh.soa.parking_system.soap.PlaceSensorMockImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParkingWebService</servlet-name>
        <!--suppress WebProperties -->
        <servlet-class>pl.edu.agh.soa.parking_system.soap.ParkingWebServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlaceSensorMockService</servlet-name>
        <url-pattern>/sensors/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParkingWebService</servlet-name>
        <url-pattern>/areas/*</url-pattern>
    </servlet-mapping>

</web-app>
